.head {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 20px;
    align-items: center;
    margin-left: 20px;
}

.column {
    margin-top: 48px;
    height: 320px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}